nav ul li a{
    color: black;
  }

.font{
    font-family:'Poiret One';
    font-size: 150%;
  }

.cursive{
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
  }

.title{
    font-family: 'Roboto', sans-serif;
    font-size: 250%;
  }

  nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
  nav.navbar-findcond a { color: #f14444; }
  nav.navbar-findcond ul.navbar-nav a { color: #f14444; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
  nav.navbar-findcond ul.navbar-nav a:hover,
  nav.navbar-findcond ul.navbar-nav a:visited,
  nav.navbar-findcond ul.navbar-nav a:focus,
  nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
  nav.navbar-findcond ul.navbar-nav a:hover { border-color: #f14444; }
  nav.navbar-findcond li.divider { background: #ccc; }
  nav.navbar-findcond button.navbar-toggle { background: #f14444; border-radius: 2px; }
  nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
  nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
  nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
  nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
  nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #f14444; color: #fff; }
  nav.navbar-findcond span.badge { background: #f14444; font-weight: normal; font-size: 11px; margin: 0 4px; }
  nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }

  #footer {
    height: 60px;
    background-color: #f5f5f5;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
  }

  /* Sticky footer styles
   * -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
  }


  /* Custom page CSS
   * -------------------------------------------------- */
  /* Not required for template or sticky footer method. */

  body > .container {
    padding: 60px 15px 0;
  }
  .container .text-muted {
    margin: 5px 0;
  }

  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  code {
    font-size: 80%;
  }
